/* GENERAL */
*
{
    margin: 100;
    padding: 100;
}

body
{
    background-color: hsl(210, 29%, 21%);
    font-family: "Avenir-Light", sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4
{
    color: #1ABC9C;
}

h1
{
    font-family: "Avenir-Light", serif;
    font-size: 45px;
    color: #1ABC9C;
    
}

h2
{
    color: #fff;
    font-size: 55px;
}

h3
{
    font-size: 30px;
    color: #1ABC9C;
}

h4
{
    font-size: 24px;
    color: #85929E;
    
}

p
{
   line-height: 20px;
    font-size: 20px;
    color: #85929E;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: #85929E;
}

.wrapper
{
    width: 1000px;
    margin: 0 auto;
    padding: 0 1Opx;
}

.orange
{
    color: #1ABC9C;
}

.clear
{
    clear:both;
}

small
{
    font-size: 13px;
    font-style: italic;
}

/* HEADER */

header
{
    height: 120px;
}

header h1
{
    float: left;
    margin-top: 32px;
}

header nav
{
    float: right;
    margin-top: 50px;
}

header nav ul li
{
    float: left;
    display: inline-block;
}

header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

/* MAIN IMAGE */

#main-image
{
    height: 500px;
    /*width: 100%;
    position: center;*/
    background: url('images/virus%20top.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-image h2
{
  font-weight: normal;  
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;  
    margin-bottom: 20px;
}

.button-1
{
    display: block;
    width: 100px;
    height: 50px;
    background: #1ABC9C;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}

.button-1:hover
{
    background: #76448A;
}


#steps ul
{
   margin: 80px 0;
}

#steps ul li
{
    width: 300px;
    float: left;
    padding-top: 160px;
    text-align: center;
    /*margin-right: 10px;  */
}

#steps h4
{
    text-transform: uppercase;
    margin-bottom: 20px;
}

#steps p
{
    margin-bottom: 20px;
}

#step-1
{
   background: url('images/virus%20(1).png') no-repeat top center;
}

#step-2
{
   background: url('images/world.png') no-repeat top center;
}

#step-3
{
    background: url('images/medical-mask%20copy.png') no-repeat top center;
}

/* POSSIBILITIES */

#possibilities
{
    background-color: #efefef;
    padding: 40px 0 40px 0;
}

#possibilities article
{
    width: 460px;
    height: 410px;
    float: left;
    border-radius: 10px;
}

#possibilities article:first-child
{
    margin-right: 20px;
}

.overlay
{
    background: rgba(255,255,255,0.95);
    height: 370px;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

article h4
{
   border-bottom: 1px solid #ddd; 
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

#possibilities p
{
    text-align: center;
    margin-bottom: 20px;
}

.button-2
{
    color: #fff;
    background-color: #1ABC9C;
    padding: 6px 20px;
    border-radius: 3px;
}

.button-2:hover
{
    color: #fff;
    background-color: #76448A;
}

/*CONTACT*/

#contact
{
    padding: 60px 0;
    padding-top: 60px;
    text-align: center;
}

#contact h3
{
   width: 400px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #76448A;
    padding-bottom: 20px;
}

form
{
    margin: 60px 0 20px 0;
    
}

label
{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}

input[type="text"]
{
   padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

.button-3
{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #1ABC9C;
    border-style: none;
    border-radius: 3px;
}

.button-3:hover
{
    color: #fff;
    background-color: #76448A;
}

/*FOOTER*/

footer
{
    height: 260PX;
    background-color: #85929E;
}

footer h1
{
    color: #fff;
    text-align: center;
    padding-top: 80px;
}

.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #ddd;
}
